<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="LOG_HOME" value="c:/log" />

	<!-- 控制台输出 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{80} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<logger name="jdbc.sqltiming" level="INFO" />
	
	<logger name="com.nzonly.tb" level="DEBUG" />
	
	<root level="ERROR">
		<appender-ref ref="STDOUT" />
	</root>
</configuration> 