/* reset START */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p,fieldset
	{
	margin: 0;
	padding: 0;
}

body {
	font-size: 12px;
	font-family: "Microsoft Yahei", Tahoma, Arial, Verdana, sans-serif;
	color: #000;
	background: #F9F9F9;
}

img {
	border: 0;
}

blockquote,pre {
	margin: 10px 0;
	padding: 8px 10px 8px 36px;
	border: 1px solid #CCC;
}

code {
	padding: 1px 3px 2px;
	font-family: "courier new", courier, monospace;
	color: #666;
	background: #F1F1F1;
}

kbd {
	padding: 2px 5px;
	border: 1px solid #DDD;
	border-bottom-color: #999;
	border-left-color: #999;
	font-family: Consolas, "andale mono", "lucida console", "courier new",
		monospace;
	background: #EEE;
}
/* reset END */

#wrap {
	width: 1024px;
	margin: 0 auto;
}

header {
	margin-bottom: 22px;
}

header h1 {
	margin-top: 8px;
	margin-bottom: 15px;
}

#main {
	margin-bottom: 30px;
}

footer {
	color: #888;
}

#nav {
	margin-bottom: 20px;
}

#nav li {
	display: inline;
	font-size: 14px;
}

#nav li.user {
	float: right;
}


table {
	border: 1px dashed #DEE9F6;
	margin-bottom: 12px;
	padding: 3px 0 0;
	table-layout: fixed;
}

caption {
	font-size: 14px;
	padding-bottom: 5px;
	text-align: center;
}

tr:hover {
	background: #F7F7DF;
}

th {
	background: #DEE9F6;
	padding: 5px;
}

td {
	border-top: 1px solid #DEE9F6;
	padding: 2px 5px;
}