<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="AuthInfo">
	<resultMap id="BaseResultMap" type="com.nzonly.tb.entity.AuthInfo">

		<!-- 主键 -->
		<id column="id" property="id" jdbcType="BIGINT" />

		<!-- 淘宝用户 id -->
		<result column="taobao_user_id" property="taobaoUserId"
			jdbcType="VARCHAR" />

		<!-- 淘宝用户昵称 -->
		<result column="taobao_user_nick" property="taobaoUserNick"
			jdbcType="VARCHAR" />

		<!-- Access token -->
		<result column="access_token" property="accessToken" jdbcType="VARCHAR" />

		<!-- Access token的类型目前只支持bearer -->
		<result column="token_type" property="tokenType" jdbcType="VARCHAR" />

		<!-- Access token过期时间 单位秒 -->
		<result column="expires_in" property="expiresIn" jdbcType="BIGINT" />

		<!-- Refresh token -->
		<result column="refresh_token" property="refreshToken"
			jdbcType="VARCHAR" />

		<!-- Refresh token过期时间 单位秒 -->
		<result column="re_expires_in" property="reExpiresIn" jdbcType="BIGINT" />

		<!-- r1级别API或字段的访问过期时间 -->
		<result column="r1_expires_in" property="r1ExpiresIn" jdbcType="BIGINT" />

		<!-- r2级别API或字段的访问过期时间 -->
		<result column="r2_expires_in" property="r2ExpiresIn" jdbcType="BIGINT" />

		<!-- w1级别API或字段的访问过期时间 -->
		<result column="w1_expires_in" property="w1ExpiresIn" jdbcType="BIGINT" />

		<!-- w2级别API或字段的访问过期时间 -->
		<result column="w2_expires_in" property="w2ExpiresIn" jdbcType="BIGINT" />

		<!-- w2级别API或字段的访问过期时间 -->
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />

		<!-- 最近一次更新时间 -->
		<result column="last_update_time" property="lastUpdateTime"
			jdbcType="TIMESTAMP" />

		<!-- 上次授权, IP地址 -->
		<result column="last_auth_ip" property="lastAuthIp" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, taobao_user_id, taobao_user_nick, access_token, token_type,
		expires_in, refresh_token,
		re_expires_in, r1_expires_in, r2_expires_in, w1_expires_in, w2_expires_in,
		create_time,
		last_update_time, last_auth_ip
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from auth_info
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from auth_info
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert">
		insert into auth_info (id, taobao_user_id, taobao_user_nick,
		access_token, token_type, expires_in,
		refresh_token, re_expires_in, r1_expires_in,
		r2_expires_in, w1_expires_in, w2_expires_in,
		create_time, last_update_time, last_auth_ip
		)
		values (#{id,jdbcType=BIGINT}, #{taobaoUserId,jdbcType=VARCHAR},
		#{taobaoUserNick,jdbcType=VARCHAR},
		#{accessToken,jdbcType=VARCHAR}, #{tokenType,jdbcType=VARCHAR}, #{expiresIn,jdbcType=BIGINT},
		#{refreshToken,jdbcType=VARCHAR}, #{reExpiresIn,jdbcType=BIGINT},
		#{r1ExpiresIn,jdbcType=BIGINT},
		#{r2ExpiresIn,jdbcType=BIGINT}, #{w1ExpiresIn,jdbcType=BIGINT}, #{w2ExpiresIn,jdbcType=BIGINT},
		#{createTime,jdbcType=TIMESTAMP},
		#{lastUpdateTime,jdbcType=TIMESTAMP}, #{lastAuthIp,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective">
		insert into auth_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="taobaoUserId != null">
				taobao_user_id,
			</if>
			<if test="taobaoUserNick != null">
				taobao_user_nick,
			</if>
			<if test="accessToken != null">
				access_token,
			</if>
			<if test="tokenType != null">
				token_type,
			</if>
			<if test="expiresIn != null">
				expires_in,
			</if>
			<if test="refreshToken != null">
				refresh_token,
			</if>
			<if test="reExpiresIn != null">
				re_expires_in,
			</if>
			<if test="r1ExpiresIn != null">
				r1_expires_in,
			</if>
			<if test="r2ExpiresIn != null">
				r2_expires_in,
			</if>
			<if test="w1ExpiresIn != null">
				w1_expires_in,
			</if>
			<if test="w2ExpiresIn != null">
				w2_expires_in,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="lastUpdateTime != null">
				last_update_time,
			</if>
			<if test="lastAuthIp != null">
				last_auth_ip,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="taobaoUserId != null">
				#{taobaoUserId,jdbcType=VARCHAR},
			</if>
			<if test="taobaoUserNick != null">
				#{taobaoUserNick,jdbcType=VARCHAR},
			</if>
			<if test="accessToken != null">
				#{accessToken,jdbcType=VARCHAR},
			</if>
			<if test="tokenType != null">
				#{tokenType,jdbcType=VARCHAR},
			</if>
			<if test="expiresIn != null">
				#{expiresIn,jdbcType=BIGINT},
			</if>
			<if test="refreshToken != null">
				#{refreshToken,jdbcType=VARCHAR},
			</if>
			<if test="reExpiresIn != null">
				#{reExpiresIn,jdbcType=BIGINT},
			</if>
			<if test="r1ExpiresIn != null">
				#{r1ExpiresIn,jdbcType=BIGINT},
			</if>
			<if test="r2ExpiresIn != null">
				#{r2ExpiresIn,jdbcType=BIGINT},
			</if>
			<if test="w1ExpiresIn != null">
				#{w1ExpiresIn,jdbcType=BIGINT},
			</if>
			<if test="w2ExpiresIn != null">
				#{w2ExpiresIn,jdbcType=BIGINT},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="lastUpdateTime != null">
				#{lastUpdateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="lastAuthIp != null">
				#{lastAuthIp,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective">
		update auth_info
		<set>
			<if test="taobaoUserId != null">
				taobao_user_id = #{taobaoUserId,jdbcType=VARCHAR},
			</if>
			<if test="taobaoUserNick != null">
				taobao_user_nick = #{taobaoUserNick,jdbcType=VARCHAR},
			</if>
			<if test="accessToken != null">
				access_token = #{accessToken,jdbcType=VARCHAR},
			</if>
			<if test="tokenType != null">
				token_type = #{tokenType,jdbcType=VARCHAR},
			</if>
			<if test="expiresIn != null">
				expires_in = #{expiresIn,jdbcType=BIGINT},
			</if>
			<if test="refreshToken != null">
				refresh_token = #{refreshToken,jdbcType=VARCHAR},
			</if>
			<if test="reExpiresIn != null">
				re_expires_in = #{reExpiresIn,jdbcType=BIGINT},
			</if>
			<if test="r1ExpiresIn != null">
				r1_expires_in = #{r1ExpiresIn,jdbcType=BIGINT},
			</if>
			<if test="r2ExpiresIn != null">
				r2_expires_in = #{r2ExpiresIn,jdbcType=BIGINT},
			</if>
			<if test="w1ExpiresIn != null">
				w1_expires_in = #{w1ExpiresIn,jdbcType=BIGINT},
			</if>
			<if test="w2ExpiresIn != null">
				w2_expires_in = #{w2ExpiresIn,jdbcType=BIGINT},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="lastUpdateTime != null">
				last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="lastAuthIp != null">
				last_auth_ip = #{lastAuthIp,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey">
		update auth_info
		set taobao_user_id = #{taobaoUserId,jdbcType=VARCHAR},
		taobao_user_nick = #{taobaoUserNick,jdbcType=VARCHAR},
		access_token = #{accessToken,jdbcType=VARCHAR},
		token_type = #{tokenType,jdbcType=VARCHAR},
		expires_in = #{expiresIn,jdbcType=BIGINT},
		refresh_token = #{refreshToken,jdbcType=VARCHAR},
		re_expires_in = #{reExpiresIn,jdbcType=BIGINT},
		r1_expires_in = #{r1ExpiresIn,jdbcType=BIGINT},
		r2_expires_in = #{r2ExpiresIn,jdbcType=BIGINT},
		w1_expires_in = #{w1ExpiresIn,jdbcType=BIGINT},
		w2_expires_in = #{w2ExpiresIn,jdbcType=BIGINT},
		create_time = #{createTime,jdbcType=TIMESTAMP},
		last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
		last_auth_ip = #{lastAuthIp,jdbcType=VARCHAR}
		where id = #{id,jdbcType=BIGINT}
	</update>

	<!-- ### 以上代码由MBG + CommentPlugin自动生成, 生成时间: 2012-08-03 00:53:17 ### -->

	<select id="getByTaobaoUserId" resultMap="BaseResultMap">
		select a.* from
		auth_info a where a.taobao_user_id=#{taobaoUserId,jdbcType=VARCHAR}
	</select>

	<select id="getByAccessToken" resultMap="BaseResultMap">
		select a.* from
		auth_info a where a.access_token = #{accessToken}
	</select>
</mapper>