<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="trade">
	<resultMap id="BaseResultMap" type="com.nzonly.tb.entity.Trade">
		<result column="id" property="id" jdbcType="BIGINT" />
		<result column="tid" property="tid" jdbcType="BIGINT" />
		<result column="buyer_nick" property="buyerNick" jdbcType="VARCHAR" />
		<result column="payment" property="payment" jdbcType="VARCHAR" />
		<result column="delivery_track_time" property="deliveryTrackTime" jdbcType="TIMESTAMP" />
		<result column="operation_time" property="operationTime" jdbcType="TIMESTAMP" />
		<result column="operation_note" property="operationNote" jdbcType="VARCHAR" />
	</resultMap>
	<resultMap id="ResultMapWithBLOBs" type="com.nzonly.tb.entity.Trade" extends="BaseResultMap">
		<result column="delivery_track" property="deliveryTrack" jdbcType="LONGVARCHAR" />
	</resultMap>
	<sql id="Blob_Column_List">
		delivery_track
	</sql>
	<insert id="insert" parameterType="com.nzonly.tb.entity.Trade">
		insert into trade (id, tid, buyer_nick,
		payment, delivery_track_time, operation_time,
		operation_note, delivery_track)
		values (#{id,jdbcType=BIGINT}, #{tid,jdbcType=BIGINT}, #{buyerNick,jdbcType=VARCHAR},
		#{payment,jdbcType=VARCHAR}, #{deliveryTrackTime,jdbcType=TIMESTAMP}, #{operationTime,jdbcType=TIMESTAMP},
		#{operationNote,jdbcType=VARCHAR}, #{deliveryTrack,jdbcType=LONGVARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.nzonly.tb.entity.Trade">
		insert into trade
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="tid != null">
				tid,
			</if>
			<if test="buyerNick != null">
				buyer_nick,
			</if>
			<if test="payment != null">
				payment,
			</if>
			<if test="deliveryTrackTime != null">
				delivery_track_time,
			</if>
			<if test="operationTime != null">
				operation_time,
			</if>
			<if test="operationNote != null">
				operation_note,
			</if>
			<if test="deliveryTrack != null">
				delivery_track,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="tid != null">
				#{tid,jdbcType=BIGINT},
			</if>
			<if test="buyerNick != null">
				#{buyerNick,jdbcType=VARCHAR},
			</if>
			<if test="payment != null">
				#{payment,jdbcType=VARCHAR},
			</if>
			<if test="deliveryTrackTime != null">
				#{deliveryTrackTime,jdbcType=TIMESTAMP},
			</if>
			<if test="operationTime != null">
				#{operationTime,jdbcType=TIMESTAMP},
			</if>
			<if test="operationNote != null">
				#{operationNote,jdbcType=VARCHAR},
			</if>
			<if test="deliveryTrack != null">
				#{deliveryTrack,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>
</mapper>