<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="User">
	<resultMap id="BaseResultMap" type="com.nzonly.tb.entity.User">
		<id column="id" property="id" jdbcType="INTEGER" />

		<!-- 登录名 -->
		<result column="uid" property="uid" jdbcType="VARCHAR" />

		<!-- 昵称 -->
		<result column="nickname" property="nickname" jdbcType="VARCHAR" />

		<!-- 邮箱 -->
		<result column="email" property="email" jdbcType="VARCHAR" />

		<!-- 来源(渠道) 如: 淘宝,新浪微博等 -->
		<result column="from_channel" property="fromChannel" jdbcType="VARCHAR" />

		<!-- 授权信息 -->
		<result column="auth_id" property="authId" jdbcType="BIGINT" />

		<!-- 授权用户id, 如淘宝 id -->
		<result column="auth_user_id" property="authUserId" jdbcType="VARCHAR" />

		<!-- 登录密码 -->
		<result column="pwd" property="pwd" jdbcType="VARCHAR" />

		<!-- 盐值 -->
		<result column="salt" property="salt" jdbcType="VARCHAR" />

		<!-- 上次登陆IP -->
		<result column="last_login_ip" property="lastLoginIp" jdbcType="VARCHAR" />

		<!-- 上次登陆时间 -->
		<result column="last_login_time" property="lastLoginTime"
			jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		id, uid, nickname, email, from_channel, auth_id, auth_user_id, pwd, salt,
		last_login_ip,
		last_login_time
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from user
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from user
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert">
		insert into user (id, uid, nickname,
		email, from_channel, auth_id,
		auth_user_id, pwd, salt,
		last_login_ip, last_login_time)
		values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=VARCHAR},
		#{nickname,jdbcType=VARCHAR},
		#{email,jdbcType=VARCHAR}, #{fromChannel,jdbcType=VARCHAR}, #{authId,jdbcType=BIGINT},
		#{authUserId,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR},
		#{salt,jdbcType=VARCHAR},
		#{lastLoginIp,jdbcType=VARCHAR}, #{lastLoginTime,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective">
		insert into user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="uid != null">
				uid,
			</if>
			<if test="nickname != null">
				nickname,
			</if>
			<if test="email != null">
				email,
			</if>
			<if test="fromChannel != null">
				from_channel,
			</if>
			<if test="authId != null">
				auth_id,
			</if>
			<if test="authUserId != null">
				auth_user_id,
			</if>
			<if test="pwd != null">
				pwd,
			</if>
			<if test="salt != null">
				salt,
			</if>
			<if test="lastLoginIp != null">
				last_login_ip,
			</if>
			<if test="lastLoginTime != null">
				last_login_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="uid != null">
				#{uid,jdbcType=VARCHAR},
			</if>
			<if test="nickname != null">
				#{nickname,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				#{email,jdbcType=VARCHAR},
			</if>
			<if test="fromChannel != null">
				#{fromChannel,jdbcType=VARCHAR},
			</if>
			<if test="authId != null">
				#{authId,jdbcType=BIGINT},
			</if>
			<if test="authUserId != null">
				#{authUserId,jdbcType=VARCHAR},
			</if>
			<if test="pwd != null">
				#{pwd,jdbcType=VARCHAR},
			</if>
			<if test="salt != null">
				#{salt,jdbcType=VARCHAR},
			</if>
			<if test="lastLoginIp != null">
				#{lastLoginIp,jdbcType=VARCHAR},
			</if>
			<if test="lastLoginTime != null">
				#{lastLoginTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective">
		update user
		<set>
			<if test="uid != null">
				uid = #{uid,jdbcType=VARCHAR},
			</if>
			<if test="nickname != null">
				nickname = #{nickname,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				email = #{email,jdbcType=VARCHAR},
			</if>
			<if test="fromChannel != null">
				from_channel = #{fromChannel,jdbcType=VARCHAR},
			</if>
			<if test="authId != null">
				auth_id = #{authId,jdbcType=BIGINT},
			</if>
			<if test="authUserId != null">
				auth_user_id = #{authUserId,jdbcType=VARCHAR},
			</if>
			<if test="pwd != null">
				pwd = #{pwd,jdbcType=VARCHAR},
			</if>
			<if test="salt != null">
				salt = #{salt,jdbcType=VARCHAR},
			</if>
			<if test="lastLoginIp != null">
				last_login_ip = #{lastLoginIp,jdbcType=VARCHAR},
			</if>
			<if test="lastLoginTime != null">
				last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey">
		update user
		set uid = #{uid,jdbcType=VARCHAR},
		nickname = #{nickname,jdbcType=VARCHAR},
		email = #{email,jdbcType=VARCHAR},
		from_channel = #{fromChannel,jdbcType=VARCHAR},
		auth_id = #{authId,jdbcType=BIGINT},
		auth_user_id = #{authUserId,jdbcType=VARCHAR},
		pwd = #{pwd,jdbcType=VARCHAR},
		salt = #{salt,jdbcType=VARCHAR},
		last_login_ip = #{lastLoginIp,jdbcType=VARCHAR},
		last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=INTEGER}
	</update>

	<!-- ### 以上代码由MBG + CommentPlugin自动生成, 生成时间: 2012-08-03 00:58:16 ### -->

	<select id="getByUid" resultMap="BaseResultMap">
		select u.* from user u where
		u.uid=#{uid,jdbcType=VARCHAR}
	</select>

	<select id="getByAuthUserId" resultMap="BaseResultMap">
		select u.* from user u
		where u.auth_user_id=#{authUserId,jdbcType=VARCHAR} and
		u.from_channel=#{from,jdbcType=VARCHAR}
	</select>
</mapper>